.SquareSection{
    position: relative;
    margin-top:150px;
    width: 300px;
}

.Square{
    width:100px;
    height: 100px;
    background-color: #2B2A2A;
    position: absolute;
    transform: rotateX(50deg) rotateY(1deg) rotateZ(45deg);
    transition: 0.4s ease-in-out;
    cursor: pointer;
}

.First{
    top:0;
}

.Second{
    top:30px;
}

.Third{
    top:60px;
}

.Fourth{
    top:90px;
}

.Highest{
    top:-100px;
}


.OrangeSquare{
    border:3px solid #EDAC17;
    z-index:4;
}

.GreenSquare{
    border:3px solid #D3DAC6;
    z-index:3;
}
.GreySquare{
    border:3px solid #666665;
    z-index:2;
}
.DarkGreenSquare{
    border:3px solid #3D574A;
    z-index: 1;
}

@media (max-width:1153px) {
    .SquareSection{
        padding-left: 10%;
    }
}

@media (max-width:1024px){
    .SquareSection{
        display: none;
    }
}
