.Upper{
    padding:0 10%;
}

.Hero{
    background-image: url('../../assets/images/Hero-image.jpg');
    background-position: center;
    background-size: cover;
    padding-bottom: 120px;
    position: relative;
}







