.Hero{
    margin-top: 200px;
}
.ChangingWord{
    font-size: 60px;
}

.ChangingWord::after{
  content: '_';
  animation: blinking 0.8s infinite;
}

@keyframes blinking {
  0%    { opacity: 0; }
  50%   { opacity: 0; }
  51%   { opacity: 1; }
  100%  { opacity: 1; }
}


@media(max-width:950px){
    .Hero{
        margin-top: 0;
    }
    .Hero h2{
        font-size:45px;
        
    }

    
}