.Chart{
    display: flex;
    flex-direction: row;
    padding: 0 10%;
}


.ChartCanvas{
    position: relative;
    width: 60vw;
    height: 60vh;
}

.Chart p{
    align-self: flex-end;
    margin-bottom: 90px;
    margin-left: 40px;
    width: 400px;
    
}



@media(max-width:950px){
    .Chart{
        flex-direction: column;
        flex-flow: wrap;
    }
    .Chart img{
        width:300px;
    }
    .Chart p{
        align-self: start;
    }
    .ChartCanvas{
        width: 80vw;
        height: 50vh;
    }

    
}