@font-face{
  font-family: 'Nunito';
  font-weight: bold;
  src: local('Nunito'),url(./assets/fonts/Nunito/Nunito-Bold.ttf) format('truetype');
}

@font-face{
  font-family:'Roboto';
  font-weight: bold;
  src: local('Roboto'),url(./assets/fonts/Roboto/Roboto-Bold.ttf) format('truetype');
}

@font-face{
  font-family:'Roboto';
  src: local('Roboto'),url(./assets/fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}
html {
  scroll-behavior: smooth;
}

body{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}
h1,
h2,
h3,
button{
  font-family: 'Nunito',sans-serif;
  color:#2B2A2a;
}

p,
span,
a,
input,
input::placeholder,
textarea,
textarea::placeholder{
  font-family: 'Robot',sans-serif;
  color:#2B2A2a;
}

p{
  line-height: 1.8;
  letter-spacing: 0.5px;
}
